@model WorkFreeDay

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>WorkFreeDay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Custom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Custom)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-default" asp-action="Index">Back to List</a>
</div>
