@model User
@inject Microsoft.AspNetCore.Identity.UserManager<User> userManager

@{
    ViewData["Title"] = "Edit Profile";
}

<h2>Edit Profile</h2>
<h4>@Model.DisplayName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label col-md-4">@Html.DisplayNameFor(model => model.Email): </label>
                <div>
                    @Html.DisplayFor(model => model.Email)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Roles: </label>
                <div>
                    @{ var userRoles = await userManager.GetRolesAsync(Model);}
                    @if (userRoles.Count == 0)
                    {
                        @string.Concat("< None >");
                    }
                    @string.Join(", ", userRoles)
                </div>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label col-md-4"></label>
                <div>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label col-md-4"></label>
                <div>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label col-md-4"></label>
                <div>
                    <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="TeamId" class="control-label col-md-4"></label>
                <div>
                    <select asp-for="TeamId" class="form-control" asp-items="ViewBag.TeamId"></select>
                    <span asp-validation-for="TeamId" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-default" asp-action="UserProfile">Back to Profile</a>
</div>
