@using VacationPlannerWeb.Services

@model AccountViewModel
@inject RolesService RolesService

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<h4>User Accounts</h4>

<a class="btn btn-info" asp-controller="Account" asp-action="ImportUsers">Import Users</a> |
<a class="btn btn-info" asp-controller="Departments" asp-action="Index">Manage Departments</a> |
<a class="btn btn-info" asp-controller="Teams" asp-action="Index">Manage Teams</a> |
<a class="btn btn-info" asp-controller="Account" asp-action="Index" asp-route-showHidden="@Model.ShowHidden">Toggle Hidden</a>

<table class="table" id="user-table">
    <thead>
        <tr>
            <th>
                UserName <b class="caret"></b>
            </th>
            <th>
                DisplayName <b class="caret"></b>
            </th>
            <th>
                Email <b class="caret"></b>
            </th>
            <th>
                Department <b class="caret"></b>
            </th>
            <th>
                Roles <b class="caret"></b>
            </th>
            <th>
                Team <b class="caret"></b>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Department.Shortening)
                </td>
                <td>
                    @{ var userRoles = await RolesService.GetRolesShorteningsAsync(user.Id);}
                    @string.Join(", ", userRoles)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Team.Shortening)
                </td>
                <td>
                    <a class="btn btn-default btn-sm" asp-action="EditUser" asp-route-id="@user.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/js/TableSorting.js"></script>
}
