@model User
@inject Microsoft.AspNetCore.Identity.UserManager<User> userManager

@{
    ViewData["Title"] = "Remove User";
    var displayName = @Model.DisplayName == null ? Model.Email : Model.DisplayName;
}

<h2>Remove User</h2>
<h4>@displayName</h4>
<form asp-action="RemoveUser">
    <input type="hidden" asp-for="Id" />
    <div>
        Are you sure you want to delete all data related to this user?
    </div>
    <div class="text-danger">
        @ViewData["DeleteError"]
    </div>
    <hr />
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DisplayName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DisplayName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Department)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Department.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Team)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Team.Name)
            </dd>
            <dt>
                Roles
            </dt>
            <dd>
                @{ var userRoles = await userManager.GetRolesAsync(Model);}
                @string.Join(", ", userRoles)
            </dd>
        </dl>
    </div>
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="EditUser" asp-route-id="@Model.Id" class="btn btn-default">Back to Edit</a>
    </div>
</form>
